$--main-desktop-font-size: 30px;
$--main-pad-font-size: calc($--main-desktop-font-size * 4.8 / 6);
$--main-text-color: #fff;
$--main-background-color: #64c4ff;
$--screen-desktop-padding-top-bottom: 50px;
$--screen-desktop-padding-left-right: 100px;
$--screen-pad-padding-top-bottom: 10px;
$--screen-pad-padding-left-right: 30px;
$--header-toggle-width: 30px;
$--header-pad-toggle-width: calc($--header-toggle-width * 5 / 6);
$--footer-margin-right: 30px;
$--footer-icon-width: 30px;
$--footer-pad-icon-width: calc($--footer-icon-width * 5 / 6);
$--video-overlay-spring-color: #054f716d;
$--video-overlay-summer-color: #054f714e;
$--video-overlay-autumn-color: #054f713a;
$--video-overlay-winter-color: #1098d785;
$--main-desktop-max-width: 1920px;
$--text-desc-h1-desktop-size: 3em;
$--text-desc-h2-desktop-size: 2.5em;
$--text-desc-p-desktop-size: 0.8rem;
$--text-desc-btn-desktop-size: 0.5rem;
$--text-desc-h1-pad-size: 2.5em;
$--text-desc-h2-pad-size: 2em;
$--text-desc-p-pad-size: 0.8rem;
$--text-desc-btn-pad-size: 0.5rem;
$--menu-width: 10em;
$--main-desktop-left: 2em;
$--menu-margin-bottom: 1em;
